/* Card.css */

/* Card container */
.card {
  border: 1px solid #a0a4b8; /* Border with specified color */
  width: 300px; /* Default width */
  margin: 0 auto; /* Center align in parent container if needed */
  display: flex;
  flex-direction: column;
}

@media (min-width: 640px) { /* Tailwind's sm breakpoint is 640px */
  .card {
      width: 350px; /* Adjust width for small screens and above */
  }
}

/* Image styles */
.card-image {
  width: 300px; /* Default width for the image */
  height: auto; /* Maintain aspect ratio */
}

@media (min-width: 640px) {
  .card-image {
      width: 350px; /* Adjust width for small screens and above */
  }
}

/* Card content styles */
.card-content {
  padding: 1rem; /* Equivalent to p-4 in Tailwind */
  display: flex;
  flex-direction: column;
  gap: 0.9rem; /* Increased gap for better spacing */
  height: 100%;
  justify-content: space-between;
}

/* Card title */
.card-title {
  font-size: 2.5rem; /* Increased font size */
  font-weight: 100; /* Slightly lighter font weight */
  line-height: 1.2; /* Improved line height */
}

/* Description text */
.card-content div:nth-child(2) {
  font-size: 1rem; /* Slightly larger text */
  line-height: 1.5; /* Increased line height for better readability */
  color: #fff; /* Optional: Set text color for contrast */
}

.card-content div:last-child {
  margin-top: auto;
}
